.App {
  display: flexbox;
  flex-direction: column;
}

.header {
  display: grid;
  grid-template-columns: 400px 500px 100px;
  justify-content: space-between;
  align-items: center;
  height: 5%;
  border: 2px solid black;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
}

.App-name {
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}


.body {
  display: flexbox;
  flex-direction: column;
  height: 90%;
  border: 3px solid black;
  margin: 30px;
  padding-bottom: 30px;
}

.table-title {
  background-color: #CCC;
  border-bottom: 3px solid black;
  padding-left: 1.5%;
}

table,th,td {
  border: 3px solid black;
  border-collapse: collapse;
}

table {
  margin-left: 2%;
  margin-top: 2%;
  width: 96%;
  height: 80vh;
}

th,td{
  width:16%;
}

th {
  background-color:#CCC;
}
